// bower:scss
// endbower

@font-face {
  src: url("../fonts/IntroRustG-Base2Line.otf");
  font-family: "Intro Rust G - Base 2 Line";
  font-weight: 400;
}

body {
  overflow-x: hidden;
  background: #ffffff;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  /* -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never; */
}

@keyframes pulse {

  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.9;
    text-shadow: 0 0 80px #ffffff, 0 0 37px rgba(0, 234, 255, 0.59), 0 0 12px rgba(0, 234, 255, 0.59);
  }

  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.3;
    text-shadow: none;
  }
}

.h-top {
  display: block;
  position: relative;
  width: 100%;
  background: radial-gradient(1416px 1416px at 126.25% 121.22%, rgba(69, 19, 104, 0) 0%, rgba(64, 19, 104, 0) 6%, rgba(48, 18, 105, 0) 31%, rgba(39, 18, 106, 0) 60%, rgba(36, 18, 106, 0) 100%), url('../images/top_bg.svg') no-repeat center top;
  background-size: cover;

  &__mob {
    display: inline-block;

    &-nav {
      display: none;
    }

    &-phone {
      display: none;
    }
  }

  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 30px 0;
  }

  &__logo {
    display: inline-block;
    max-width: 100%;
    text-shadow: 0 0 37px rgba(0, 234, 255, 0.59);
    color: #00eaff;
    font-family: "Intro Rust G - Base 2 Line", sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 6px;

    span:nth-child(1) {
      animation: pulse 12s linear infinite;
    }

    span:nth-child(2) {
      animation: pulse 6s linear infinite;
    }

    span:nth-child(3) {
      animation: pulse 20s linear infinite;
    }
  }

  &__nav {
    display: inline-block;

    a {
      display: inline-block;
      padding: 6px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #3dcccf;
        text-decoration: none;
      }
    }
  }

  &__phone {
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #3dcccf;
      text-decoration: none;
    }
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    padding: 80px 0 150px 0;
  }

  &__title {
    display: block;
    margin: 0 0 55px 0;
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.44px;
    line-height: 1.23;
  }

  &__subtitle {
    display: block;
    margin: 0 0 30px 0;
    opacity: 0.84;
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: -0.53px;
    line-height: 1.1
  }

  &__list {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    list-style: none;
    opacity: 0.84;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.43px;

    li {
      display: block;
      position: relative;
      margin-bottom: 12px;
      padding-left: 16px;

      &:before {
        display: block;
        position: absolute;
        content: '•';
        left: 0;
        top: 0;
        color: #ffffff;
        font-size: 18px;
        font-weight: 300;
      }
    }
  }

  &__button {
    display: inline-block;
    padding: 20px 42px;
    border-radius: 999rem;
    background-color: #3dcccf;
    color: #24126a;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.18px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      color: #24126a;
      text-decoration: none;
    }
  }
}

.h-steps {
  display: block;
  position: relative;
  width: 100%;
  padding: 110px 0 10px 0;
  background: #ffffff;

  &__title {
    display: block;
    margin: 0 0 80px 0;
    color: #24126a;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.03px;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__card {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 470px;
    margin-bottom: 60px;

    &_righted {
      text-align: right;
    }

    &-image {
      display: inline-block;
      max-width: 100%;
    }

    &-content {
      display: inline-block;
      width: 100%;
      max-width: 370px;
    }

    &-text {
      min-height: 130px;
      margin: 0;
      color: #6f677d;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.01px;
      line-height: 1.79;
    }

    &-title {
      display: block;
      margin-bottom: 20px;
      color: #25126a;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 0.02px;
    }
  }
}

.h-consult {
  display: block;
  position: relative;
  width: 100%;
  padding: 110px 0 130px 0;
  background: radial-gradient(888px 888px at 50.66% 236.44%, rgba(66, 232, 224, 0) 0%, rgba(64, 221, 218, 0) 2%, rgba(58, 174, 192, 0) 9%, rgba(52, 132, 169, 0) 17%, rgba(47, 97, 149, 0) 26%, rgba(43, 68, 134, 0) 35%, rgba(40, 46, 121, 0) 44%, rgba(38, 30, 113, 0) 54%, rgba(36, 21, 108, 0) 66%, rgba(36, 18, 106, 0) 82%), url('../images/consult_bg.svg') no-repeat center top;
  background-size: cover;

  &__title {
    display: block;
    margin: 0 0 90px 0;
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.03px;
    text-align: center;
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;

    p {
      display: block;
      margin: 0 0 40px 0;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.88;
    }
  }

  &__button {
    display: inline-block;
    padding: 20px 60px;
    border-radius: 999rem;
    background-color: #3dcccf;
    color: #24126a;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.18px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      color: #24126a;
      text-decoration: none;
    }
  }
}

.h-features {
  display: block;
  position: relative;
  width: 100%;
  padding: 110px 0 90px 0;
  background: #ffffff;

  &__title {
    display: block;
    margin: 0 0 70px 0;
    color: #24126a;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.03px;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 265px;
    margin-bottom: 30px;
    text-align: center;

    &-image {
      display: inline-block;
      width: 55px;
      height: 55px;
      margin-bottom: 25px;
      object-fit: scale-down;
    }

    &-title {
      display: block;
      margin: 0 0 18px 0;
      color: #25126a;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &-text {
      display: block;
      margin: 0;
      color: #58627c;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.86;
    }
  }
}

.h-goods {
  display: block;
  position: relative;
  width: 100%;
  padding: 110px 0 100px 0;
  background: #f2f2f2;

  &__title {
    display: block;
    margin: 0 0 70px 0;
    color: #24126a;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.03px;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
  }

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 370px;
    min-height: 575px;
    margin-bottom: 30px;
    padding: 30px 55px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    background-color: #ffffff;

    &>div {
      width: 100%;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      box-shadow: none;
      text-decoration: none;

      .h-goods__card-title {
        color: #24126a;
      }

      .h-goods__card-button {
        box-shadow: none;
        background: #24126a;

        img {
          filter: none;
        }
      }
    }

    &-image {
      display: block;
      width: 100%;
      max-width: 260px;
      height: 215px;
      object-fit: scale-down;
    }

    &-title {
      display: block;
      min-height: 44px;
      margin: 15px 0;
      color: #3dcccf;
      font-size: 15px;
      font-weight: 700;
      line-height: 1.47;
      text-transform: uppercase;
      text-align: center;
      transition: all 0.2s ease-out;
    }

    &-row {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 10px;
      color: #4f4f4f;
      font-size: 14px;
      font-weight: 400;
    }

    &-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
    }

    &-price {
      display: inline-block;
      color: #4f4f4f;
      font-size: 24px;
      font-weight: 700;
    }

    &-button {
      display: inline-block;
      padding: 10px;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.13);
      border-radius: 10px;
      background-color: #3dcccf;
      color: #ffffff;
      text-align: center;
      transition: all 0.2s ease-out;

      img {
        display: inline-block;
        filter: brightness(0) invert(1);
        transition: all 0.2s ease-out;
      }
    }
  }
}

.h-order {
  display: block;
  position: relative;
  width: 100%;
  padding: 115px 0 130px 0;
  background: radial-gradient(888px 888px at 50.66% 821.7%, rgba(66, 232, 224, 0) 0%, rgba(64, 221, 218, 0) 2%, rgba(58, 174, 192, 0) 9%, rgba(52, 132, 169, 0) 17%, rgba(47, 97, 149, 0) 26%, rgba(43, 68, 134, 0) 35%, rgba(40, 46, 121, 0) 44%, rgba(38, 30, 113, 0) 54%, rgba(36, 21, 108, 0) 66%, rgba(36, 18, 106, 0) 82%), url('../images/order_bg.svg') no-repeat center;
  background-size: cover;

  &__title {
    display: block;
    margin: 0 0 22px 0;
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03px;
    line-height: 1.42;

    b,
    strong,
    span {
      color: #3dcccf;
    }
  }

  &__text {
    display: block;
    margin: 0 0 40px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.03px;
    line-height: 1.56;

    b,
    strong {
      font-weight: 700;
    }
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 415px;

    ::placeholder {
      color: #736ca3;
    }

    input {
      display: block;
      width: 100%;
      margin-bottom: 6px;
      padding: 20px 30px;
      border: 0;
      outline: 0;
      border-radius: 15px;
      background-color: rgba(255, 255, 255, 0.1);
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
    }
  }

  &__button {
    display: block;
    width: 100%;
    padding: 20px;
    border-radius: 999rem;
    background-color: #3dcccf;
    border: 0;
    outline: 0;
    color: #24126a;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.18px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      color: #24126a;
      text-decoration: none;
    }
  }

  &__info {
    display: block;
    margin: 40px 0 0 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.03px;
  }
}

.h-gallery {
  display: block;
  position: relative;
  width: 100%;
  padding: 110px 0 210px 0;
  background: #ffffff;

  &__title {
    display: block;
    margin: 0 0 50px 0;
    text-align: center;
    color: #24126a;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.03px;
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;

    .slick-track {
      display: flex;
      align-items: center;
    }

    .item {
      padding: 0 2px;
    }

    .slick-dots {
      bottom: -90px;
    }

    .slick-dots li {
      margin: 0;
    }

    .slick-dots li.slick-active button:before {
      background: linear-gradient(186.46deg, #42E8E0 4.7%, #24126A 99.15%);
    }

    .slick-dots li button:before {
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 999rem;
      background-color: #dfdfdf;
      line-height: 1;
      opacity: 1;
    }
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 195px;
    height: 195px;
    border-radius: 15px;
    background-color: #c4c4c4;

    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      object-fit: cover;
      filter: brightness(50%);
      transition: all 0.2s ease-out;
    }
  }
}

.h-bottom {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  overflow-y: auto;
  width: 100%;
  height: 750px;
  padding: 30px 140px 30px calc((100vw - 1200px) / 2);

  .row {
    width: 100%;
  }

  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #24126a;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03px;
  }

  &__row {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
    color: #24126a;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03px;

    img {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 10px;
      object-fit: scale-down;
      object-position: 0 0;
    }
  }

  &__link {
    display: inline;
    color: #24126a;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03px;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #3dcccf;
      text-decoration: none;
    }
  }

  &__phone {
    display: inline-block;
    color: #24126a;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #3dcccf;
      text-decoration: none;
    }
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    ::placeholder {
      color: #bdbdbd;
    }

    input {
      display: block;
      width: 100%;
      margin-bottom: 6px;
      padding: 20px 30px;
      border: 1px solid #f2f2f2;
      outline: 0;
      border-radius: 15px;
      background-color: #f2f2f2;
      color: #24126a;
      font-size: 16px;
      font-weight: 400;
      transition: all 0.2s ease-out;

      &:focus {
        border-color: #3dcccf;
      }
    }

    textarea {
      display: block;
      width: 100%;
      margin-bottom: 6px;
      padding: 20px 30px;
      border: 1px solid #f2f2f2;
      outline: 0;
      border-radius: 15px;
      background-color: #f2f2f2;
      color: #24126a;
      font-size: 16px;
      font-weight: 400;
      transition: all 0.2s ease-out;

      &:focus {
        border-color: #3dcccf;
      }
    }
  }

  &__button {
    display: block;
    width: 100%;
    padding: 20px;
    border-radius: 999rem;
    background-color: #3dcccf;
    border: 0;
    outline: 0;
    color: #24126a;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.18px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      color: #24126a;
      text-decoration: none;
    }
  }

  &__info {
    display: block;
    width: 100%;
    margin: 8px 0 0 0;
    padding-left: 40px;
    background: url('../images/icon_checked.svg') no-repeat left 8px;
    color: #24126a;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03px;
    line-height: 1.5;

  }
}

.h-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 50px 0;
  background-color: #0f213f;

  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }

  &__logo {
    display: inline-block;
    max-width: 100%;
    text-shadow: 0 0 37px rgba(0, 234, 255, 0.59);
    color: #00eaff;
    font-family: "Intro Rust G - Base 2 Line", sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 6px;

    span:nth-child(1) {
      animation: pulse 12s linear infinite;
    }

    span:nth-child(2) {
      animation: pulse 6s linear infinite;
    }

    span:nth-child(3) {
      animation: pulse 20s linear infinite;
    }
  }

  &__nav {
    display: inline-block;

    a {
      display: inline-block;
      padding: 6px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #3dcccf;
        text-decoration: none;
      }
    }
  }

  &__phone {
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #3dcccf;
      text-decoration: none;
    }
  }
}

.h-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;

  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(10, 0, 51, 0.74);
  }

  &__close {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 540px;
    margin: 10px 0;
    padding: 65px 60px 40px 60px;
    border-radius: 15px;
    background: #24126a radial-gradient(277.85px at -8.58% -1.44%, #42E8E0 0%, #40DDDA 1.91%, #3AAEC0 11.19%, #3484A9 21.03%, #2F6195 31.28%, #2B4486 42.04%, #282E79 53.49%, #261E71 65.95%, rgba(36, 21, 108, 0.69) 80.16%, rgba(36, 18, 106, 0) 100%);
    background-size: cover;
  }

  &__title {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 10px 0;
    color: #ffffff;
    font-weight: bold;
    line-height: 44px;
    font-size: 30px;
    text-align: center;
  }

  &__subtitle {
    display: block;
    width: 100%;
    margin: 0 0 15px 0;
    color: #ffffff;
    font-weight: 300;
    line-height: 28px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.03px;
    line-height: 1.75;
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;

    ::placeholder {
      color: #736ca3;
    }

    input {
      display: block;
      width: 100%;
      margin-bottom: 6px;
      padding: 20px 30px;
      border: 0;
      outline: 0;
      border-radius: 15px;
      background-color: rgba(255, 255, 255, 0.1);
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
    }
  }

  &__button {
    display: block;
    width: 100%;
    padding: 20px;
    border-radius: 999rem;
    background-color: #3dcccf;
    border: 0;
    outline: 0;
    color: #24126a;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.18px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      color: #24126a;
      text-decoration: none;
    }
  }

  &__info {
    display: block;
    margin: 20px 0 0 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.03px;
    text-align: center;
  }
}

.h-done {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;

  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(10, 0, 51, 0.74);
  }

  &__close {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 540px;
    margin: 10px 0;
    padding: 65px 60px 40px 60px;
    border-radius: 15px;
    background: #24126a radial-gradient(277.85px at -8.58% -1.44%, #42E8E0 0%, #40DDDA 1.91%, #3AAEC0 11.19%, #3484A9 21.03%, #2F6195 31.28%, #2B4486 42.04%, #282E79 53.49%, #261E71 65.95%, rgba(36, 21, 108, 0.69) 80.16%, rgba(36, 18, 106, 0) 100%);
    background-size: cover;
  }

  &__title {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 10px 0;
    color: #ffffff;
    font-weight: bold;
    line-height: 44px;
    font-size: 30px;
    text-align: center;
  }

  &__subtitle {
    display: block;
    width: 100%;
    margin: 0 0 15px 0;
    color: #ffffff;
    font-weight: 300;
    line-height: 28px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.03px;
    line-height: 1.75;
  }

}

#map {
  display: block;
  position: relative;
  width: 100%;
  height: 750px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .h-gallery__cards {
    .slick-center {
      .h-gallery__card {
        max-width: 370px;
        width: 370px !important;
        height: 370px;

        img {
          filter: none !important;
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .h-top {
    background: #24126a radial-gradient(277.85px at -8.58% -1.44%, #42E8E0 0%, #40DDDA 1.91%, #3AAEC0 11.19%, #3484A9 21.03%, #2F6195 31.28%, #2B4486 42.04%, #282E79 53.49%, #261E71 65.95%, rgba(36, 21, 108, 0.69) 80.16%, rgba(36, 18, 106, 0) 100%);
  }

  .h-top__title {
    margin: 0 0 25px 0;
    font-size: 26px;
    text-align: center;
  }

  .h-top__subtitle {
    margin-bottom: 30px;
    font-size: 18px;
  }

  .h-top__list li {
    padding: 0;
    font-size: 14px;

    &:before {
      display: none;
    }
  }

  .h-top__content {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 0 75px 0;
    text-align: center;
  }

  .h-top__list {
    margin-bottom: 20px;
  }

  .h-steps {
    padding: 60px 0 30px 0;
  }

  .h-steps__title {
    margin-bottom: 35px;
    font-size: 28px;
  }

  .h-steps__cards {
    justify-content: space-around;
  }

  .h-steps__card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 35px;
    text-align: center !important;
  }

  .h-steps__card-image {
    order: -1;
  }

  .h-steps__card-title {
    margin: 10px 0;
  }

  .h-steps__card-text {
    min-height: auto;
  }

  .h-consult {
    padding: 60px 0 75px 0;
    background: #24126a radial-gradient(277.85px at -8.58% -1.44%, #42E8E0 0%, #40DDDA 1.91%, #3AAEC0 11.19%, #3484A9 21.03%, #2F6195 31.28%, #2B4486 42.04%, #282E79 53.49%, #261E71 65.95%, rgba(36, 21, 108, 0.69) 80.16%, rgba(36, 18, 106, 0) 100%);
  }

  .h-consult__title {
    margin-bottom: 35px;
    font-size: 28px;
  }

  .h-consult__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .h-consult__content p {
    margin-bottom: 35px;
  }

  .h-features {
    padding: 60px 0 10px 0;

  }

  .h-features__title {
    margin-bottom: 45px;
    font-size: 28px;
  }

  .h-features__cards {
    justify-content: space-around;
  }

  .h-features__card {
    margin-bottom: 70px;
  }

  .h-goods {
    padding: 60px 0;
  }

  .h-goods__title {
    margin-bottom: 30px;
    font-size: 28px;
  }

  .h-goods__cards {
    justify-content: space-around;
  }

  .h-goods__card {
    margin-bottom: 7px;
    padding: 30px 40px;
  }

  .h-gallery {
    padding: 50px 0 85px 0;
  }

  .h-gallery__title {
    margin-bottom: 30px;
    font-size: 28px;
  }

  .h-gallery__card {
    max-width: 300px;
    height: 300px;
    margin: 0 auto;

    img {
      filter: none;
    }
  }

  .h-gallery__cards .slick-dots {
    bottom: -55px;
  }

  .h-order {
    padding: 60px 0 75px 0;
    background: #24126a radial-gradient(277.85px at -8.58% -1.44%, #42E8E0 0%, #40DDDA 1.91%, #3AAEC0 11.19%, #3484A9 21.03%, #2F6195 31.28%, #2B4486 42.04%, #282E79 53.49%, #261E71 65.95%, rgba(36, 21, 108, 0.69) 80.16%, rgba(36, 18, 106, 0) 100%);
    text-align: center;
  }

  .h-order__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .h-order__text {
    margin-bottom: 30px;
  }

  .h-order__form {
    margin: 0 auto;
  }

  .h-order__info {
    margin-top: 30px;
  }

  .h-bottom {
    height: auto;
    padding: 65px 15px 25px 15px;
  }

  .h-bottom__title {
    width: 100%;
    margin-bottom: 25px;
    font-size: 28px;
    text-align: center;
  }

  .h-bottom__form {
    margin-top: 15px;
  }

  .h-bottom__info {
    margin-top: 20px;
  }

  #map {
    height: 275px;
  }

  .h-footer {
    padding: 35px 0;
  }

  .h-footer__wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .h-footer__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
  }

  .h-top__nav {
    display: none;
    width: 100%;
    padding-top: 20px;

    a {
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  .h-top__phone {
    display: none;
  }

  .h-top__mob {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;

    &-nav {
      display: inline-block;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        opacity: 0.7;
        text-decoration: none;
      }
    }

    &-phone {
      display: inline-block;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        opacity: 0.7;
        text-decoration: none;
      }
    }
  }

  .h-top__nav a {
    padding: 10px;
  }

  .h-modal__content {
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 40px 15px;
    border-radius: 0;
  }

  .h-done__content {
    justify-content: center;
    min-height: 40vh;
    margin: 0;
    padding: 40px 15px;
    border-radius: 0;
  }
}

@media (max-width: 991px) {}

@media (max-width: 767px) {}
